<html>
  <head>
      <title>Django tutorial blog</title>
  </head>
  <body>
      <div>
          <h1><a href="/">Django tutorial blog</a></h1>
      </div>

      <div>
          <p>published: 07.10.2017, 14:18</p>
          <h2><a href="">Blog post 1</a></h2>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>

      <div>
          <p>published: 07.10.2017, 14:19</p>
          <h2><a href="">Blog post 2</a></h2>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
      </div>
  </body>
</html>
